34.136.34.53.nip.io {
    handle_path /api/backend/* {
        reverse_proxy 127.0.0.1:8000
    }

    handle {
        root * /opt/mapleecho-frontend-current
        encode zstd gzip
        file_server
    }
}

http://34.136.34.53 {
    handle_path /api/backend/* {
        reverse_proxy 127.0.0.1:8000
    }

    handle {
        root * /opt/mapleecho-frontend-current
        encode zstd gzip
        file_server
    }
}
